
# xcode
*.pbxuser
*.perspectivev3
*.mode*v3
xcuserdata
build
*.app
*.a

# OSX
*.DS_*

# codeblocks
*.depend
*.layout
example-input/obj
example-output/obj
*.cbTemp

# Win
*.exe
*.dll
*.sdf
*.suo
*.vcxproj.user

# svn
.svn/
obj/
bin/
build/
!data/
